
.title {
    font-size: 19;
    horizontal-align: left;
    padding: 5;
}


.checkInLayout {
    vertical-align: center;
    background-color: #00ab8e;
    height: 100%;
}

.checkInMessage {
    font-size: 25;
    padding: 5;
    text-align: center;
    color: #FFF
}

button {
    /*font-size: 23;
    horizontal-align: center;
    width: 100%;
    background-color: #43a700;
    color: #FFF;
    border-width: 0;*/
    position: relative;

    display: block;
    margin: 30px auto;
    padding: 0;


    border-width: 0;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    
    background-color: #fff;
    color: #00ab8e;
    
    transition: background-color .3s;
}

.message {
    font-size: 15;
    color: #284848;
    padding: 5;
}

ListView {
  margin: 5;
}

Image {
  margin : 5;
  width: 25;
}
